.form-group span {
    position: absolute;
    /* bottom: 12px; */

    font-size: 14px;
    color: red;
}

.form-group {
    margin: 15px 0;
    position: relative;
}

.form-group label {
    margin: 5px 0;
}

.form-group label span {
    position: absolute;
    bottom: 45px;
    font-size: 13px;
}

.form-group label i {
    color: brown;
}